/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

@font-face {
  font-family: 'iAWriterQuattroS-Regular';
  src: local('iAWriterQuattroS-Regular'), url('fonts/iAWriterQuattroS-Regular.woff2') format('woff2'), url('fonts/iAWriterQuattroS-Regular.woff') format('woff');
}

@font-face {
  font-family: 'iAWriterQuattroS-Bold';
  src: local('iAWriterQuattroS-Bold'), url('fonts/iAWriterQuattroS-Bold.woff2') format('woff2'), url('fonts/iAWriterQuattroS-Bold.woff') format('woff');
}

@font-face {
  font-family: 'iAWriterMonoS-Regular';
  src: local('iAWriterMonooS-Regular'), url('fonts/iAWriterMonoS-Regular.woff2') format('woff2'), url('fonts/iAWriterMonoS-Regular.woff') format('woff');
}

@font-face {
  font-family: 'iAWriterMonoS-Bold';
  src: local('iAWriterMonoS-Bold'), url('fonts/iAWriterMonoS-Bold.woff2') format('woff2'), url('fonts/iAWriterMonoS-Bold.woff') format('woff');
}

// colors
$primary: #32A27F;
$body-bg: #FFFFFF;
$navbar-bg: $body-bg;
$navbar-fg: $primary;

// fonts
$font-family-sans-serif: Parkinsans, "iAWriterMonoS-Regular", Helvetica, sans-serif !default;
$headings-font-family: Parkinsans, "iAWriterMonoS-Bold", Figtree, Helvetica, sans-serif !default;

.construction {
  color: #FF5733;
  font-size: 200%;
  font-face: bold;
  text-align: center;
}